/* Mobile First CSS */ 

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
    font-family: Calibri;
    text-align: center;
    background: #000;
 }





/* Main Image Section*/ 
#top-img{
    display: block;
    min-height: 370px;
    width: 100%;
}

#top-img .main-img{
    position: absolute;
    background: #000 url('../images/coffee1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 370px;
    z-index: -1;
}


.text-block{
    margin-left: 12em;
    margin-top: 3em;
    z-index: 5;
}

.text{
    line-height: 0.6em;
    color: rgba(255, 255, 255, 0.726);
}

#coffee{
    font-size: 60px;
}

.btn{
    margin-top: 0.3em;
    padding: 0.2em 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.87);
    z-index: 2;
    position: relative;
}
.text-block .btn:hover{
    background: rgba(255, 255, 255, 0.836);
    color: black; 
}


/* Bottom cards section */

main{
    background: black;
}
.card{
    border: none;

}

li{
    padding: 0 1em;
    margin: 0;
    margin-top: 1em;
}

.card-content{
    padding: 0.7em;
}

.card-img{
    display: block;
    width: 100%;
    height: auto;
}


/* Media Query */

@media (min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #top-img{
        min-height: 550px ;
    }
    
    #top-img .main-img{
        height: 550px;
        background-position: center;
    }

    .text-block{
        float: right;
        margin-right: 20%;
        margin-top: 12%;
        letter-spacing: 2px;
    }

    #coffee{
        font-size: 100px;
    }
    #house{
        font-size: 70px;
    }
    .btn{
        font-size: 30px;
        margin-top: 25px;
    }

    main ul{
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;
        justify-content: space-around;
    }
    main li{
        width: 33%;
    }

    

}
