/* Mobile First CSS */ 
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Calibri;
    text-align: center;
    background: #000;
    width: 100vw;
 }


/* Main Image Section*/ 
#top-img{
    display: block;
    min-height: 370px;
    width: 100%;
    position: relative;
  
}

#top-img .main-img{
    position: absolute;
    background: #000 url('../images/cup.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 370px;
    margin-top: 0;
    margin-left: 0;
}


.text-block{
    text-align: center;
    margin-top: 18em;
    position: relative;
    z-index: 1;
}

.text{
    line-height: 0.6em;
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text::before{
    content: "The";
    display: block;
    font-size: 24px;
    padding-right: 11.5em;
}


/* Bottom cards section */

main{
    background: black;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card{
    border: none;
}

li{
    padding: 0 1em;
    margin: 0;
    margin-top: 1em;
}

.card-content{
    padding: 0.7em;
}

.card-content p{
    padding-top: 10px;
}

.card-img{
    display: block;
    width: 100%;
}

footer{
    color: white;
    font-size: 10px;
}


/* Media Queries */


@media (max-width: 330px) {
    #top-img{
        min-height: 250px;
    }
    
    #top-img .main-img{
        height: 250px;
        background-position: center;
    }

    .text-block{
        margin-top: 10em;
        letter-spacing: 2px;
    }

    .text{
        font-size: 40px;
        color: black;
    }
    .text::before{
        content: "The";
        display: block;
        font-size: 20px;
        padding-right: 12em;
    }

    main{
        background: black;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .card{
        border: none;
    }
    
    li{
        padding: 0 1em;
        margin: 0;
        margin-top: 1em;
    }
    
    .card-content{
        padding: 0.7em;
    }
    
    .card-content p{
        padding-top: 10px;
    }
    
    .card-img{
        display: block;
        width: 100%;
    }
}



@media (min-width: 700px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #top-img{
        min-height: 530px;
    }
    
    #top-img .main-img{
        height: 530px;
        background-position: center;
    }

    .text-block{
        margin-top: 23em;
        letter-spacing: 2px;
    }

    .text{
        font-size: 100px;
        color: black;
    }
    .text::before{
        content: "The";
        display: block;
        font-size: 28px;
        padding-right: 21em;
    }

    #coffee{
        font-size: 120px;
    }
    #house{
        font-size: 70px;
    }

    #main-section{
        grid-template-rows: 1fr;
    }

    main ul{
        display: flex;
        justify-content: space-around;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    main li{
        width: 33%;
    }

    .card-img{
        height: 230px;
    }

    .left{
        grid-column-start: 1;
    }

    .right{
        grid-column-start: 3;
    }
    .center{
        grid-column-start: 2;
    }

    footer{
        font-size: 10px;
    }

}

